<form action="/search" method="get">
	<input type="text" name="name" placeholder="Search for a word...">
	<input class="button" name="searchtype" type="submit" value="Search">
	<input class="button" name="searchtype" type="submit" value="Try a random word">
</form>
