/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 */

@import "foundation_and_overrides";
@import "compass/css3";
@import "foundation-icons";

$gray: #666;
$pink: #e39bab;
$blue: #a7b5e5;
$white: #fff;
$translucent-white: transparentize($white, 0.2);
$off-white: lighten($gray, 50%);
$primary-font: 'Quicksand', sans-serif;
$secondary-font: 'Raleway', sans-serif;

@import "home", "lists", "search";
