// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Layout

body {
    background-color: darken($gray, 15%);
    background-image: linear-gradient(90deg, transparent 50%, darken($gray, 25%) 50%);
    background-size: 150px 150px;
}

.top-bar {
    @media #{$medium-up} {
        margin-bottom: 50px;
    }

    .logo {
        font-family: $primary-font;
        font-size: 2em;
        font-weight: 700;
        margin-left: 10px;
    }

    .logo1 {
        color: $pink;
    }

    .logo2 {
        color: $blue;
    }

    .top-bar-section li a:not(.button) {
        background-color: $gray;
        &:hover {
            background-color: darken($gray, 10%);
        }
    }
}

.container {
    background-color: $translucent-white;
    padding: 20px 0;
    text-align: center;
    @media #{$medium-up} {
        padding: 20px 0 30px;
    }
    @media #{$large-up} {
        @include border-radius(30px);
        padding: 50px 0;
    }
}

.intro {
    margin: auto;
    width: 90%;
    h1 {
        @media #{$small-only} {
            font-size: 2.5em;
        }
    }
}

// Typography

h1 {
    color: $pink;
    font-family: $secondary-font;
    font-weight: bold;
}

h2, h3, h4, h5, h6 {
    color: $gray;
    font-weight: bold;
}

p {
    color: $gray;
    font-family: $secondary-font;
}

a {
    color: darken($gray, 10%);
    &:hover, &:focus {
        color: darken($gray, 20%);
    }
}

// Forms

form {
    background: $blue;
    padding: 40px 15px 15px;
    @media #{$medium-up} {
        @include border-radius(30px);
        margin: 0 auto;
        width: 70%;
    }
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border: none;
    box-shadow: none;
    display: inline-block;
    height: 50px;
    width: 70%;
    @media #{$medium-up} {
        margin-bottom: 20px;
    }
}

// Buttons

@mixin button-theme($button-color) {
    background-color: $button-color;
    border: none;
    @include border-radius(10px);
    box-shadow: none;
    font-family: $secondary-font;
    margin-bottom: 5px;
    &:hover {
        background-color: darken($button-color, 10%);
    }
    &:focus {
        background-color: darken($button-color, 20%);
        outline: none;
    }
}

.button {
    @include button-theme($gray);
}

.button-blue, .button-blue:hover {
    color: $gray;
    @include button-theme($blue);
}


.results-buttons {
    margin-bottom: 20px;
}

.hidden-form {
    background: none;
    display: inline;
    position: relative;
    padding: 0;
}

.go {
    @include border-radius(0);
    margin-left: -4px;
    padding-top: 15px;
}

// Links

.links {
    font-family: $secondary-font;
    margin-top: 10px;
    a {
        line-height: 1.2em;
    }
}

// Notices

.notice {
    @include border-radius(10px);
    background-color: $pink;
    display: none;
    margin: 0 auto;
    padding: 0 5px;
    text-align: center;
}

// Modal & icons

.icons {
    font-size: 2em;
    margin: 10px;
    text-align: center;
    i {
        color: transparentize($translucent-white, 0.1);
        &:hover {
            color: $white;
        }
        margin: 0 5px;
    }
    @media #{$large-up} {
        margin-bottom: 50px;
    }
}

.modal-contents {
    text-align: center;
    i {
        font-size: 2em;
    }
}
