// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.results {
    margin: 0 auto;
    max-width: 500px;
    padding: 0 15px;
    text-align: left;
}

.title {
    @media #{$large-up} {
        font-size: 4em;
    }
}

.smallprint {
    font-size: 0.8em;
    font-weight: bold;
    padding-top: 10px;
}
